.comment{
   border-radius: 12px;
}
.created_on {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
.createComment {
  display: flex;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 50px;
}

.logo {
margin: 20px;
padding: 20px;
text-align: left;
min-width: 200px;
max-width: 50%;
}
.comment{
  width: 40%;
  height: 25vh;
  border-radius: 40px;
  margin-left: 6.5%;
  background-color:#223d66
}
.comment2{
  font-family: Arial,sans-serif;
  font-size: 22px!important;
    line-height: 18px!important;
    border-radius: 30%;
    color: black;

    
}
.comment3{
  font-size: 26px;
  color: black;
  letter-spacing: 3px;
}