.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343541;
  height: 100vh;
  flex-direction: column;
}

.main-title {
  font-size: 50px;
  margin-top: 15px;
  font-family: sans-serif;
  color: #ececf1;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #40414f;
  height: 200px;
  width: 700px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 5vh;
}

.word-input {
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 100px;
  padding: 0px 20px;
  background-color: rgb(217, 217, 217);
}

.submit-btn {
  height: 50px;
  border: none;
  border-radius: 100px;
  margin: 0px 10px;
  width: 160px;
  /* background-color: rgb(35, 104, 252); */
  background-color: red;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

body {
  /* overflow-y: hidden; */
   /* Hide vertical scrollbar */
  overflow-x: hidden; 
  /* Hide horizontal scrollbar */
}
.submit-btn:hover {
  background-color: rgb(11, 67, 188);
}

.reply-content {
  font-size: 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(217, 217, 217);
  height: 400px;
  width: 900px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 5vh;
}
