.container_dashboard_provider{
    display: grid;
    grid-template-columns: 18% 83%;
    margin: 0.5%;
    height: auto;
}
.container_dashboard_provider_ar{
    display: grid;
    grid-template-columns: 83% 18%;
    margin: 0.5%;
    height: auto;
}
.ChartComponent{
    width: 80%;
    margin-left: 6%;
    margin-top: 7%;
}
.ChartComponent1{
    width: 100%;
    text-align: center;
    margin-left: 15%;
    height: 40vh;
}
.display-flex{
    display: flex;
}
.menu{
    background: linear-gradient(to right, #2c3e55, #385075,#4e6384);
    border-radius: 1px;
    margin-left: -2%;
    margin-top: -2%;
}
.body_container{
    margin: 0.5%;
    margin-top: 0;
    border-radius: 40px;
    
}
.order_info__cotainer_div{
    display: flex;
}
.card_order_info{
    margin: 3%;
    width: 30%;
    height: 20vh;
    background-color: #DCEBFC; 
    border-radius: 35px;
    padding: 1%;
}
.card_order_info:hover {
    transform: rotateY(10deg);
}
.go_to{
    background-color: transparent;
    border: none;
    width: 80%;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    color: white;
    margin: 3%;
    margin-left: -5%;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.number-order{
    font-size: 30px;
    margin-top: 8%;
}
.colorin{
    background-color: #9ABEF5;
    color:#000000;
    font-weight: bold;

}
.light-blue{
    background-color: #aecbf7;
    color: #000D26;
    font-weight: bold;

}
/* ["#223D66", "#385075", "#4E6384", "#647793"] */

.light-green{
    background-color:#c2d8f9;
    color:#000D26;
    font-weight: bold;

}
.light-red{
    background-color:  #D6E5FB;
    color: #000D26;
    font-weight: bold;
}

.ChartComponent-div{
    height: 60vh;
}
.hr2{
    
    border: none;
    /* border-top: 2px solid rgb(166, 32, 32); */
    background-color: #768aaa;
    background: linear-gradient(to right, #2c3e55, #385075,#4e6384);
    height: 50px;
    width: 95%;
    margin-left: 2.5%;
}
.h2{
    text-align: left;
    margin-left: 27%;
}
.ul-menu{
    margin-top: 4%;
    margin-bottom: 0%;
    color: white;
    text-align: left;
    margin-left: -5%;
    font-size: 13px;
    font-weight: bold;
}
li {
    list-style-type: none;
  }
  /* div{
    height: fit-content;
  } */