
  .star {
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ccc;
  }
  
  .star:after {
    content: "\2605";
  }
  .star:hover:after,
  .star:hover ~ .star:after,
  .star:active  {
    color: #FFD700;
  } 
  .button_noti{
    background-color:#385075;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 1%;
  }
  
  
  .logo img {
  max-width: 100%;
  height: auto;
  }
  
  .logo h2 {
  margin: 10px 0 0 0;
  font-size: 24px;
  font-weight: normal;
  }
  .noti-display{
    width: 80%;
    margin-left: -2%;
    /* display: grid; */
    /* grid-template-columns: 30% 30% 30%; */
  }
  .each-noti{
    margin: 2%;
  }
  .div-container-notif{
    margin-left:"-35%";
    margin-top:"-3%";
    background-color:rgb(215, 214, 214);
    border-radius:"20px"
  }